---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca">
  <h2 class="text-5xl text-stone-600 font-bold py-8">Historia</h2>
  <p>
    Hace algunos años, en un pequeño rincón de la ciudad, nació una pasión por
    los cupcakes que cambiaría nuestras vidas para siempre. La historia de
    [nombre de tu negocio o nombre personal] comenzó con un horno, un puñado de
    ingredientes y un sueño.
  </p>
  <br />
  <p>
    Desde que era una niña, siempre me fascinaron los dulces y la repostería.
    Pasaba horas en la cocina de mi abuela, aprendiendo los secretos de recetas
    tradicionales y experimentando con sabores y decoraciones. Pero fue en un
    viaje a [nombre del lugar] donde descubrí mi amor por los cupcakes.
  </p>
  <br />
  <img class="my-8 rounded-3xl w-96" src="cupcakes-fresa.webp" alt="" />
  <p>
    En una pequeña pastelería local, probé un cupcake que cambió mi perspectiva
    sobre la repostería. Era una obra maestra de sabor y arte: un pastelito
    esponjoso, adornado con crema de mantequilla suave y decorado con detalles
    exquisitos. Fue en ese momento que supe que debía aprender a hacer cupcakes
    de calidad y compartir mi pasión con el mundo.
  </p>
  <br />
  <p>
    A lo largo de los años, perfeccioné mis habilidades, probando innumerables
    recetas, experimentando con ingredientes de alta calidad y perfeccionando
    mis técnicas de decoración. Cada cupcake que hacía era una obra de amor, y
    la sonrisa en el rostro de aquellos que los probaban me inspiraba a seguir
    adelante.
  </p>
  <br />
  <p>
    Finalmente, decidí compartir mi amor por los cupcakes a través de [nombre de
    tu negocio]. Lo que comenzó como una pequeña tienda en casa se convirtió en
    un negocio floreciente donde cada cupcake cuenta una historia de pasión,
    dedicación y creatividad.
  </p>
</Layout>

<style>
  p {
    @apply text-lg text-neutral-700;
  }
</style>
