---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <h1 class="text-7xl text-rose-500 font-bold text-center py-16">Contacto</h1>

  <div class="flex justify-center">
    <form class="flex flex-col gap-4 w-96">
      <label for="nombre">Nombre:</label>
      <input
        class="p-4 rounded-3xl focus:outline-rose-500"
        type="text"
        id="nombre"
        name="nombre"
        required
      />

      <label for="email">Correo Electrónico:</label>
      <input
        class="p-4 rounded-3xl focus:outline-rose-500"
        type="email"
        id="email"
        name="email"
        required
      />

      <label for="mensaje">Mensaje:</label>
      <textarea
        class="p-4 rounded-3xl focus:outline-rose-500"
        id="mensaje"
        name="mensaje"
        rows="4"
        required></textarea>

      <input
        class="bg-rose-500 text-white p-4 rounded-3xl hover:bg-rose-600 cursor-pointer"
        type="submit"
        value="Enviar"
      />
    </form>
  </div>
</Layout>
