---
import Layout from "../layouts/Layout.astro";
import { productos } from "../data/index";
---

<Layout title="Pasteleria">
  <header class="h-screen grid md:grid-cols-2">
    <div class="h-full flex flex-col justify-center gap-4">
      <h1 class="text-7xl font-bold text-rose-500">Bienvenidos a K-Rosi</h1>
      <p class="text-lg text-neutral-500">
        Donde el placer se convierte en sabor. Descubre nuestra exquisita
        repostería artesanal, donde cada mordisco es una delicia inolvidable.
        Ven y déjate tentar por nuestros pasteles, postres y galletas frescas.
      </p>
    </div>
    <img class="h-full object-contain" src="cupcake1-removebg.png" alt="" />
  </header>

  <section>
    <h2 class="text-5xl font-bold text-center text-rose-500 py-16">
      Nuestras Delicias
    </h2>
    <ul class="grid md:grid-cols-3 grid-cols-2 gap-8">
      {
        productos.map(({ nombre, precio, image }) => (
          <li>
            <img
              class="aspect-square object-cover rounded-3xl"
              src={image}
              alt=""
            />
            <div class="py-4">
              <h4 class="text-lg">
                {nombre} - ${precio}
              </h4>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
