---
interface Props {
  nombre: string;
  precio: number;
  image: string;
}

const { nombre, precio, image } = Astro.props;
---

<li>
  <div class="aspect-square rounded-3xl overflow-hidden">
    <img
      class="w-full h-full object-cover hover:scale-110 transition-all"
      src={image}
      alt=""
    />
  </div>
  <div class="py-4">
    <h4 class="text-lg text-neutral-500">
      {nombre} - ${precio}
    </h4>
  </div>
</li>
