<header class="md:h-screen grid md:grid-cols-2">
  <div class="h-full flex flex-col justify-center gap-4">
    <h1 class="md:text-8xl text-6xl font-bold text-stone-600 md:text-left text-center">
      Bienvenidos a<br /> K-Rosi
    </h1>
    <p class="text-lg text-neutral-500">
      Donde el placer se convierte en sabor. Descubre nuestra exquisita
      repostería artesanal, donde cada mordisco es una delicia inolvidable.
      Ven y déjate tentar por nuestros pasteles, postres y galletas frescas.
    </p>
  </div>
  <img
    class="h-full w-full object-contain"
    src="cupcake1-removebg.png"
    alt=""
  />
</header>