<nav>
  <ul class="flex justify-center gap-2">
    <li><a class="block p-4" href="/">Home</a></li>
    <li><a class="block p-4" href="/products">Productos</a></li>
    <li><a class="block p-4" href="/about">Acerca</a></li>
    <li><a class="block p-4" href="/contact">Contacto</a></li>
  </ul>
</nav>

<style>
  a {
    @apply text-lg text-neutral-600 hover:text-neutral-900;
  }
</style>
